body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Arial, sans-serif;
    background: #0f172a;
    color: #e2e8f0;
}

/* CONTENEDOR */
.container {
    max-width: 900px;
    margin: auto;
    padding: 30px;
}

/* HEADER */
header {
    text-align: center;
    border-bottom: 2px solid #22c55e;
    margin-bottom: 25px;
    padding: 40px 20px 15px 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #38bdf8;
}

header h2 {
    margin: 5px 0;
    font-weight: 400;
    color: #94a3b8;
}

/* SECCIONES */
section {
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

h3 {
    color: #38bdf8;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* TEXTO */
p {
    line-height: 1.5;
}

ul {
    padding-left: 20px;
}

/* SKILLS */
.skills span {
    display: inline-block;
    background: #334155;
    padding: 6px 12px;
    margin: 5px;
    border-radius: 8px;
    font-size: 14px;
}

/* PROYECTOS */
.projects a {
    display: block;
    margin-bottom: 8px;
    color: #38bdf8;
    text-decoration: none;
}

.projects a:hover {
    text-decoration: underline;
}

/* LINKS GENERALES */
a {
    color: #38bdf8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* FOOTER */
footer {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #64748b;
    opacity: 0.8;
}
.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1d4eb1; /* gris claro como la imagen */
    color: #ecdede;
    padding: 20px;
    border-radius: 8px;
}

/* IZQUIERDA */
.header-flex .left h1 {
    margin: 0;
    font-size: 28px;
    color: #000;
}

.header-flex .left h2 {
    margin: 5px 0;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 2px;
}

/* DERECHA */
.header-flex .right {
    text-align: right;
    font-size: 14px;
}

.header-flex .right p {
    margin: 3px 0;
}